QLabel {
  font-size: 18px;
  color: #23036a;
}

QWidget {
  background-color: #f0f0f0;
}

QPushButton {
  padding: 8px;
  background-color: #bb86fc;
  color: #23036a;
  font-size: 18px;
}

QPushButton:hover {
  text-decoration: underline;
}

QSlider::handle {
  /* color: #bb86fc; */
  background-color: #bb86fc;
  border-left: 0 solid #23036a;
  border-top: 0 solid #23036a;
  border-right: 1.5px solid #23036a;
  border-bottom: 1.5px solid #23036a;
}

QSlider::handle:hover {
  background-color: #985eff;
}

QGroupBox#VideoBox {
  border: 4px solid #23036a;
  background-color: #cac6cf;
}

QLabel#VerticalGap {
  padding: 2px 0;
}

QLabel#HorizontalGap {
  padding: 0 8px;
}